.axis text {
  font: 14px calibri;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

h1 {
	font: 20px calibri;
	font-weight: bold;
	margin-left: 350px;
	
}